footer{
    background-color: whitesmoke;

    .CASH{
        padding: 30px;
        color: $dark-text;
        text-align:center;
        font-family: 'Times New Roman', Times, serif;
        }
    div{
        display: flex;
        justify-content: center;
    }
    .inst-color{
        color: rgb(228, 64, 95);
        box-shadow: 40px rgb(0, 0, 0);
        font-size: 25px;
        padding: 20px;
        margin: 15px;
        transition: all 0.1s ease;
    }
    .inst-color:hover{
        transform: translateY(-3%);
        cursor: pointer;
        box-shadow: 40px rgb(0, 0, 0);
    }
    .wsp-color{
        color: rgb(37, 221, 102);
        font-size: 25px;
        padding: 20px;
        margin: 15px;
        transition: all 0.1s ease;
        
    }
    .wsp-color:hover{
        transform: translateY(-3%);
        cursor: pointer;
    }
    .fb-color{
        color: rgb(8, 88, 237);
        font-size: 25px;
        padding: 20px;
        margin: 15px;
        transition: all 0.1s ease;
    }
    .fb-color:hover{
        transform: translateY(-3%);
        cursor: pointer;
    }
    .yt-color{
        color: red;
        font-size: 25px;
        padding: 20px;
        margin: 15px;
        transition: all 0.1s ease;
    }
    .yt-color:hover{
        transform: translateY(-3%);
        cursor: pointer;
    }
    .copy{
        color: black;
        text-align: center;
        padding: 30px;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }
}
