section{
    h1{
    position: relative;
    top: 400px;
    left: 400px;
    color:$text;
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    }
    .FotoInicio{
        padding-left: 140px;
        position: relative;
        bottom: 50px;
        z-index: -1;
        }
}
