nav{
    .sites{
        background-color: #f8f9fa;
        border-radius: 5px 5px 5px 5px;
        transition-property: all;
        transition-duration: 0.3s;
    }
    .sites:hover{
        background: rgb(192, 192, 193);
    }
}
