$bg-claro: white;
$bg-oscuro: black;
$bg-gris: #292929;
$text: beige;
$light-text: white;
$dark-text: black;

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

$footer:(    
    m: rgb(8, 8, 8) 
);
$m: map-get($footer, m);