body {
  background-color: #292929;
  overflow-x: hidden;
}

.cabecera .banner {
  margin: 10px auto;
  width: 100%;
  height: 170px;
  padding: 0%;
}

.cabecera .titulo {
  color: black;
  padding-bottom: 5px;
  position: relative;
  bottom: 125px;
  font-size: 35px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav .sites {
  background-color: #f8f9fa;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav .sites:hover {
  background: #c0c0c1;
}

footer {
  background-color: whitesmoke;
}

footer .CASH {
  padding: 30px;
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .inst-color {
  color: #e4405f;
  -webkit-box-shadow: 40px black;
          box-shadow: 40px black;
  font-size: 25px;
  padding: 20px;
  margin: 15px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

footer .inst-color:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  cursor: pointer;
  -webkit-box-shadow: 40px black;
          box-shadow: 40px black;
}

footer .wsp-color {
  color: #25dd66;
  font-size: 25px;
  padding: 20px;
  margin: 15px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

footer .wsp-color:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  cursor: pointer;
}

footer .fb-color {
  color: #0858ed;
  font-size: 25px;
  padding: 20px;
  margin: 15px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

footer .fb-color:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  cursor: pointer;
}

footer .yt-color {
  color: red;
  font-size: 25px;
  padding: 20px;
  margin: 15px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

footer .yt-color:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  cursor: pointer;
}

footer .copy {
  color: black;
  text-align: center;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

section h1 {
  position: relative;
  top: 400px;
  left: 400px;
  color: beige;
  font-family: 'Playfair Display SC', serif;
  font-size: 50px;
}

section .FotoInicio {
  padding-left: 140px;
  position: relative;
  bottom: 50px;
  z-index: -1;
}

.catalog {
  padding: auto;
  margin: auto;
  color: beige;
  width: 20vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Cards {
  margin: 10px auto;
}

.cardItems {
  cursor: default;
  overflow: hidden;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-box-shadow: 0px 1px 10px black;
          box-shadow: 0px 1px 10px black;
}

.cardItems:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 10px black;
          box-shadow: 0px 1px 10px black;
}

.sales {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
  color: beige;
}

div .us {
  text-align: center;
  color: white;
}

.elab {
  height: 600px;
  width: 900px;
  margin-left: 180px;
}

.map {
  padding-left: 350px;
}

.accordion {
  margin-right: 10px;
  margin-left: 10px;
}

.formText {
  color: white;
}

.map2 {
  width: 70vw;
  position: relative;
  left: 170px;
}

.cont-footer {
  position: relative;
  top: 70px;
}

@media screen and (max-width: 480px) {
  * {
    overflow-x: hidden;
  }
  body {
    background-color: black;
    max-width: 100%;
  }
  .banner {
    z-index: -1;
  }
  .titulo {
    color: black;
    position: relative;
    top: -110px;
    padding-left: 30px;
    padding-bottom: 40px;
    font-size: large;
  }
  /* home */
  .index-img h1 {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: x-large;
    padding-bottom: 0px;
  }
  .FotoInicio {
    width: 430px;
    height: 300px;
    padding: 0%;
    padding-left: 0px;
    padding-bottom: 10px;
    position: relative;
    top: 0px;
    right: 45px;
  }
  /*header*/
  /* Products */
  .catalog {
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
  }
  /* about us */
  .lorem {
    text-align: center;
    padding: 20px;
  }
  .map {
    padding-left: 90px;
    width: 390px;
  }
  .elab {
    width: 250px;
    height: 250px;
    position: relative;
    right: 65px;
  }
  /* footer */
  .footerContent {
    list-style-type: none;
    text-decoration: none;
  }
  /* contact */
  .map2 {
    width: 300px;
    position: relative;
    left: 85px;
  }
}
/*# sourceMappingURL=estilo.css.map */