$bg-claro: white;
$bg-oscuro: black;
$bg-gris: #292929;
$text: beige;
/*map en footer*/
$footer:(    
    m: rgb(8, 8, 8), 
);
$m: map-get($footer, m);
/*map en footer*/
/*mixin ABOUT US*/
@mixin parrafo(){
    background-color: black;
    color: white;
    font-style: italic;
    font-size: large;
    text-align: center;
    padding: 15px;
    border-style: solid;
    border-color: white;
}
@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}
.elab{
    @include sizes(900px, 600px);
}
/*mixin ABOUT US*/

body{
    background-color: $bg-gris;
    overflow-x: hidden;
}
nav{
    .sites{
        background-color: $bg-claro;
        border-radius: 5px 5px 5px 5px;
        transition-property: all;
        transition-duration: 0.3s;
    }
    .sites:hover{
        background: rgb(165, 188, 196);
    }
}

section{
    h1{
        position: relative;
        top: 400px;
        left: 400px;
        color:$text;
        font-family: 'Playfair Display SC', serif;
        font-size: 50px;
        }
        .FotoInicio{
            padding-left: 140px;
            position: relative;
            bottom: 50px;
            z-index: -1;
            }
}

footer{
    h2{
        color: $bg-claro
    }
    .CASH{
        text-align:center;
        font-family: 'Times New Roman', Times, serif;
    }
    .footerContent{
        list-style-type: none;
        text-decoration: none;
    }
}
/*map en footer*/
.footerContent{
    color: $m;
}
/*map en footer*/
/*-----------------*/
/*extend INDEX*/
.t1{
    background-color: salmon;
    color: rgb(0, 0, 0);
    text-align: center;
}
.t2{
    @extend .t1;
    background-color: yellow;
}
.t3{
    @extend .t1;
    background-color: palevioletred;
}
/*extend INDEX*/
/*mixin ABOUT US*/
.lorem{
    @include parrafo;
}
/*mixin ABOUT US*/
